$color-primary:#FFE4C4;
$color-secondary:#DEB887;
$color-tertiary:#987456;

.Remote
{
    //border:2px dotted blue;
    
    position:relative;
    
    &-bar
    {
        
        
        background-color: $color-secondary;
        .Dp
        {
            float:left;
            //border:2px solid black;
            padding-top:.5rem;
            padding-left:.3rem;
            padding-right:.3rem;
            margin-left:1rem;
            margin-top:.6rem;
            
            
            img 
            {
                width:4rem;
                height:4rem;
                border:2px solid $color-tertiary;
                border-radius:50%;
                padding-left:.02rem;
                padding-top:.02rem;
            }
        }
        .Current-User
        {
            float:left;
            //border:2px solid black;
            padding-top:.5rem;
            padding-left:.3rem;
            padding-right:.3rem;
            margin-left:.5rem;
            margin-top:1.2rem;
            font-family: 'Poppins', sans-serif;
            text-align:center;
            font-size:2rem;
           
              
                -webkit-text-fill-color: black;

            
        }
        .Remote-dropdown
        {
           // border:2px solid black;
            float:right;
            margin-right:1.5rem;
           cursor:pointer;
            display:flex;
            flex-direction:column;
            justify-content:center;
            margin-top:1rem;
            
            img 
            {
                width:4rem;
                height:4rem;
                //border:2px solid red;
               
               
                
                
            }
            
          
        }
        .Dropdown-Contents
        {
            position:absolute;
            right:2rem;
            top:5rem;
            display:none;
           padding-top:2rem;
           padding-bottom:2rem;
           width:17rem;
           border-radius:5px;
           z-index:1;
          
          
          

            background-color:$color-primary;
            & ul li 
            {
                list-style:none;
                padding:0.5rem;
                text-align:center;
                cursor: pointer;
                font-family: 'Lato', sans-serif;
                font-size:1.7rem;
                transition:all 0.3s ease;
            }
            & ul li:hover 
            {
                background-color:$color-tertiary;
                color:white;
            }
        }
      
       
        .Dropdown-shown
        {
            display:block;
            animation-name:zoomin;
            animation-iteration-count:1;
            animation-duration:.2s;
            backface-visibility: hidden;
        }
        .Dropdown-hidden
        {
            display:none;
            animation-name:zoomout;
            animation-iteration-count:1;
            animation-duration:.5s;
            backface-visibility: hidden;
            
        }
        @keyframes zoomin
        {
            0%
            {
                transform:scale(0)  ;
                opacity:0;
                
            }
            100%
            {
                transform:scale(1) ;
                opacity:1;

            }
        }
        @keyframes zoomout
        {
            0%
            {
                transform:scale(1);
            }
            100%
            {
                transform:scale(0);
               
            }
         }
         .rotate180
         {
            animation-name:rotate180;
            animation-iteration-count:1;
            animation-duration:.5s;
            animation-direction:linear;

         }
         .rotate0
         {
            animation-name:rotate0;
            animation-iteration-count:1;
            animation-duration:.5s;
         }
         @keyframes rotate180
         {
             0%
             {
                 transform:rotate(0);
             }
             100%
             {
                 transform:rotate(180deg);
                
             }
          }
          @keyframes rotate0
         {
             0%
             {
                 transform:rotate(180deg);
             }
             100%
             {
                 transform:rotate(0);
                
             }
          }


        &::after
        {
            content:"";
            display:table;
            clear:both;
        }
    }
   





    .Create-Group
    {
        //border:2px solid yellow;
     position:absolute;
      // transform:translateX(-100%);
       z-index:0;
       background-color: $color-secondary;
       padding:1rem;
        
       
       

       form 
       {
            //border:2px solid red;
            padding:0.5rem;
            input 
            {
                
                margin:0.7rem auto;
                outline:none;
                border:2px solid $color-secondary;
                background-color:$color-primary;
                
                border-radius:9px ;
                padding:1rem;
                font-size:1.6rem;
                //font-family: 'Lato', sans-serif;
                font-family: 'Roboto', sans-serif;
                transition:all 0.3s ease;
                backface-visibility:hidden;
                
            }
            input:hover,input:not(:placeholder-shown)
            {
                
                transform:scale(1.06);
                
            }
           
            button 
            {
                margin:0 auto;
                background-color:$color-secondary;
                outline:none;
                border:2px solid $color-secondary;
                transition:all 0.3s ease;
                padding:0.4rem;
                backface-visibility:hidden;
                cursor:pointer;
                
                img 
                {
                    width:4rem;
                    height:4rem;

                }

            }
            button:hover
            {
               transform:scale(0.9);

            }
            button:active
            {
                transform:scale(1);
            }
       }
       
        

    }
   
    .Join-Group
    {
      
      position:absolute;
       
        z-index:0;
        
        background-color: $color-secondary;
        padding:1rem;

        form 
        {
             //border:2px solid red;
             padding:0.5rem;
             input 
             {
                 
                 margin:0.7rem auto;
                 outline:none;
                 border:2px solid $color-secondary;
                 background-color:$color-primary;
                 
                 border-radius:9px ;
                 padding:1rem;
                 font-size:1.6rem;
                 //font-family: 'Lato', sans-serif;
                 font-family: 'Roboto', sans-serif;
                 transition:all 0.3s ease;
                 backface-visibility:hidden;
                 
             }
             input:hover,input:not(:placeholder-shown)
             {
                 
                 transform:scale(1.06);
                 
                 
             }
            
             button 
             {
                 margin:0 auto;
                 background-color:$color-secondary;
                 outline:none;
                 border:2px solid $color-secondary;
                 transition:all 0.3s ease;
                 padding:0.4rem;
                 backface-visibility:hidden;
                 cursor:pointer;
                 
                 img 
                 {
                     width:4rem;
                     height:4rem;
 
                 }
 
             }
             button:hover
             {
                transform:scale(0.9);
 
             }
             button:active
             {
                 transform:scale(1);
             }
        }
        
         
        
        
        


    }
    .adjust-Group
    {
        position:initial;
    }
    .lefttoright
    {
        animation-name:moveinleft;
        animation-duration:.3s;
        animation-iteration-count:1;
        animation-fill-mode:forwards;
    }
    .righttoleft
    {
        animation-name:moveoutleft;
        animation-duration:.3s;
        animation-iteration-count:1;
        animation-fill-mode:forwards;
    }
    @keyframes moveinleft
    {
        0%
        {
            transform:translateX(-100%);
        }
        100% 
        {
            transform:translateX(0);
        }

    }
    @keyframes moveoutleft
    {
        0%
        {
            opacity:0;
            transform:translateX(0);
        }
        100% 
        {
            opacity:0;
            transform:translateX(-100%);
        }
    }
    input,button 
    {
        display:block;
        
    }
}